body {
    background-image: url("resources/background.gif");
    align-self: center;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    margin-left: 50px;
    text-align: center;
  }

  p {
    color: white;
    text-align: center;
    font-size: 20px;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  h2 {
    font-size: xx-large;
    color: white;
    text-align: center;
  }
  .div{

    float: left;
    
    }